@model List<Fiap.Exemplo004.Web.MVC.Models.Jogador>
@{
    ViewBag.Title = "Listar";
}

<h2>Lista de Jogadores</h2>

@if (TempData["msg"] != null) {
    <div class="alert-success">

    @TempData["msg"]
    </div>
}

@using (Html.BeginForm()) {


<table class="table">
    <tr>
        <th>Nome</th>
        <th>Número</th>
        <th>Time</th>
    </tr>

    @foreach (var item in Model)
    {

    <tr>
        <td>@item.Nome</td>
        <td>@item.Numero</td>
        <td>@item.Time.Nome</td>

    </tr>
    }

</table>
}

